h1{
  font-family: 'Monoton', cursive;
  font-size: 3.5em;
  color:orange;
  margin-top: -0.25em;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: bolder;
}
body{
  background-color:gray;
}

p{
  margin-top: -2.25em;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

button{
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: bolder;
  background-color: orange;
  color: gray;
  padding: .3em;
}

td div {
  border: 1px solid black;
  width: 180px;
  height: 250px;
  margin: 10px;
  display: inline-block;
}

.cross{
  background-color: white;
  background-image: url(images/cross.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.star{
  background-color: white;
  background-image: url(images/star.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.square{
  background-color: white;
  background-image: url(images/square.png);
  background-repeat: no-repeat;
  background-position: center center;
}


.circle{
  background-color: white;
  background-image: url(images/circle.png);
  background-repeat: no-repeat;
  background-position: center center;

}

.waves{
  background-color: white;
  background-image: url(images/waves.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.facedown{
  background-image: url(images/cardback.jpg);
  background-repeat: no-repeat;
}